{% load static %}

<!DOCTYPE html>
<html lang="ua">
    <head>
        {% block title %}{% endblock %}
        <link href="{% static 'timetable/styles.css' %}" rel="stylesheet">
        <link href="{% static 'images/icon.png' %}" rel="icon" type="image/x-icon">
        <script src="https://kit.fontawesome.com/c346a8f922.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="main">
            {% block header %}
            <header>
                <a id="label" href="{% url 'index' %}"><h2>Розклад.ua</h2></a>
            </header>
            {% endblock %}
            <div id="con">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>